<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{config["TITLE"]}}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>

<body>

    <!-- Left sidebar panel -->
    <div id="sidebar">
        <h1>KodeKata App</h1>
        <form id="run-form" method="POST">
            <textarea id="run-text" name="run-text" style="display:none;"></textarea>
            <input type="button" value="Run Tests" onclick="runTests();">
        </form>
    </div>

    <!-- Code editor -->
    <div id="editor1">{{code_content}}</div>

    <!-- Test editor -->
    <div id="editor2">{{test_content}}</div>

    <!-- Bottom console panel -->
    <div id="console">
        <form id="console-form">
            <textarea id="console-text" rows="8" cols="80"></textarea>
        </form>
    </div>

    <!-- Javascript -->
    <script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/editor_setup.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>