#sidebar {
    color: white;
    background-color: #141414;
}
#sidebar #main-header-text {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
#sidebar .choice .select-label {
    font-family: "Courier New", Courier, monospace;
}
#sidebar button {
    color: #090909;
    background-color: white;
    outline: none;
    border: 3px solid #141414;
}
#sidebar button:hover {
    border: 3px solid green;
}
#console #console-text {
    padding-left: 2%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    resize: none;
    font-family: "Courier New", Courier, monospace;
    color: green;
    background-color: #090909;
    border-color: #090909;
}
#console #console-text:focus {
    outline: none;
}